<!--後ほど、Bootstrapでレイアウト調整する-->
<h2 class="head-line title_h2 text-center admin_product_index">商品一覧</h2>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    新規商品登録
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="info">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <!-- 任意実装<th>ジャンル</th>-->
          <!-- 任意実装<th>販売ステータス</th>-->
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td class="info clo-xs-1">
              <%= item.id %>
            </td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td>
              <%= product.price.to_s(:delimited) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div><%= paginate(@items) %></div>
</div>