<!--後ほど、Bootstrapでレイアウト調整する-->
<h2>商品一覧</h2>
<div>
  <div>
    新規商品登録
    <table>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <!-- 任意実装<th>ジャンル</th>-->
          <!-- 任意実装<th>販売ステータス</th>-->
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td>
              <%= product.price.to_s(:delimited) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div><%= paginate(@items) %></div>
</div>