<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">商品新規登録</h2>
    </div>
</div>
<div class="container">
  <!--部分テンプレート化する、商品編集画面と同じ-->
  <!-- form_with -->
  <%= form_with model: [:admin, @item], local: true do |f| %>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
          <%= f.label :"商品画像" %>
        </div>
        <div class="col-sm-1">
          <%= f.attachment_field :image, class:"image" %>
        </div>
      </div>
      <div>
        <%= f.label :"商品名" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :"商品説明" %>
        <%= f.text_area :introduction %>
      </div>
      <!--任意実装-->
      <!--<div>-->
      <!--  < %= f.label :"ジャンル" %>-->
      <!--</div>-->
      <div>
        <%= f.label :"税抜価格" %>
        <%= f.text_field :price %>円
      </div>
      <!--任意実装-->
      <!--<div>-->
      <!--  < %= f.label :"販売ステータス" %>-->
      <!--</div>-->
      <div>
        <%= f.submit "新規登録" %>
      </div>
    </div>
    <% end %>
</div>