<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 bg-light">注文情報確認</h2>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-light border-dark">商品名</th>
              <th class="table-light border-dark">単価(税込)</th>
              <th class="table-light border-dark">数量</th>
              <th class="table-light border-dark">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @subtotal = 0 %>
            <% @cart_items.each do |cart| %>
              <tr>
                <td class="border-dark">
                  <%= attachment_image_tag(cart.item, :image, size: "72x50", fallback: "no_image.jpg") %>
                  <strong class="ml-2"><%= cart.item.name %></strong>
                </td>
                <td class="border-dark">
                  <%= ((cart.item.price*1.10).to_i).to_s(:delimited) %>
                </td>
                <td class="border-dark">
                  <%= cart.amount %>
                </td>
                <td class="border-dark">
                  <%= ((cart.item.price*1.10).to_i*(cart.amount).to_i).to_s(:delimited) %>
                  <% @subtotal+=  ((cart.item.price*1.10).to_i*(cart.number).to_i) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="col-sm-3 ml-5">
          <table class="table table-bordered">
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>