<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 bg-light">注文情報確認</h2>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-light border-dark">商品名</th>
              <th class="table-light border-dark">単価(税込)</th>
              <th class="table-light border-dark">数量</th>
              <th class="table-light border-dark">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @subtotal = 0 %>
            <% @cart_items.each do |cart| %>
              <tr>
                <td class="border-dark">
                  <%= attachment_image_tag(cart.item, :image, size: "72x50", fallback: "no_image.jpg") %>
                  <strong class="ml-2"><%= cart.item.name %></strong>
                </td>
                <td class="border-dark">
                  <%= ((cart.item.price*1.10).to_i).to_s(:delimited) %>
                </td>
                <td class="border-dark">
                  <%= cart.amount %>
                </td>
                <td class="border-dark">
                  <%= ((cart.item.price*1.10).to_i*(cart.amount).to_i).to_s(:delimited) %>
                  <% @subtotal+=  ((cart.item.price*1.10).to_i*(cart.number).to_i) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="col-sm-3 ml-5">
          <table class="table table-bordered">
            <tr>
              <th class="table-light border-dark">送料</th>
              <td class="border-dark">800</td>
            </tr>
            <tr>
              <th class="table-light border-dark">商品合計</th>
              <td class="border-dark"><%= @subtotal.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th class="table-light border-dark">請求金額</th>
              <td class="border-dark"><%= (@subtotal + 800).to_s(:delimited) %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-9">
        <table class="table table-borderless mt-3">
          <tr>
            <th class="info">
              <h5 class="font-weight-bold">支払方法</h5>
              <td><h5><%= @order.payment_method %></h5></td>
            </th>
            <th class="info">
              <h5 class="font-weight-bold">お届け先</h5>
              <td>
                <h5><%= @order.postal_code %> <%= @order.address %></h5>
                <h5><%= @order.name %></h5>
              </td>
            </th>
          </tr>
        </table>
      </div>
      <div class="text-center my-5">
        <%= form_with model: @order, url: orders_path, local: true do |f| %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :total_payment, :value => @subtotal %>
          <%= f.hidden_field :addresses, value: @addresses %>
        <% end %>
      </div>
    </div>
  </div>
</div>