<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0 mb-3">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 mb-5 mx-3 bg-light">注文履歴詳細</h2>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="pr-2">
          <p class="font-weight-bold">注文情報</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="table-light border-dark">注文日</td>
                <td class="border-dark">
                  <%= @order.created_at.strftime("%Y/%m/%d") %>
                </td>
              </tr>
              <tr>
                <td class="table-light border-dark">配送先</td>
                <td class="border-dark">
                〒<%= @order.postal_code %>
                  <br>
                  <%= @order.address %>
                </td>
              </tr>
              <tr>
                <td class="table-light border-dark">支払方法</td>
                <td class="border-dark">
                  <%= @order.payment_method %>
                </td>
              </tr>
              <tr>
                <td class="table-light border-dark">ステータス</td>
                <td class="border-dark">
                  <%= @order.status %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <p class="font-weight-bold">請求情報</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="table-light border-dark">商品合計</td>
                <td class="border-dark">
                  <%= (@order.total_payment).to_s(:delimited) %>
                </td>
              </tr>
              <tr>
                <td class="table-light border-dark">配送料</td>
                <td class="border-dark">
                  <%= (@order.shipping_cost).to_s(:delimited) %>
                </td>
              </tr>
              <tr>
                <td class="table-light border-dark">ご請求額</td>
                <td class="border-dark">
                  <%= (@order.total_payment + @order.shipping_cost).to_s(:delimited) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="font-weight-bold">注文内容</p>
      <table class="table table-bordered">
        <thead class="table-hover table-inverse table-light">
          <tr>
            <th class="border-dark bg-light">商品</th>
            <th class="border-dark bg-light", style="width: 20%">単価(税込)</th>
            <th class="border-dark bg-light", style="width: 10%">個数</th>
            <th class="border-darkbg-light", style="width: 10%">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td class="border-dark">
              <%= order_item.item.name %>
            </td>
            <td class="border-dark">
              <%= order_item.tax_price %>
            </td>
            <td class="border-dark">
              <%= order_item.amount %>
            </td>
            <td class="border-dark">
              <%= order_item.amount * order_item.tax_price %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
