<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="head-line title_h2 text-center bg-light">会員一覧</h2>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover table-condensed bg-light">
      <thead>
        <tr class="info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <%= @customers.each do |customer| %>
          <tr>
            <td class="info", style="width: 10%">
              <%= customer.id %>
            </td>
            <td class="text-left", style="width: 40%">
              <%= full_name(customer) %>
            </td>
            <td class="text-left", style="width: 40%">
              <%= customer.email %>
            </td>
            <td class="text-left", style="width: 10%">
              <% if customer.is_active == true %>
                <p>有効</p>
              <% else %>
                <p>無効</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center"><%= paginate(@customers) %></div>
</div>