<h2>注文履歴詳細</h2>
<div>
  <div>
    <div>
      <div>
        <div>
          購入者
        </div>
        <div>
          <%= @order.name %>
        </div>
      </div>

      <div>
        <div>
          注文日
        </div>
        <div>
          <%= @order.created_at %>
        </div>
      </div>

      <div>
        <div>
          配送先
        </div>
        <div>
          <!--発送先郵便番号、住所、宛名を組み合わせて表示させたいが実装方法が不明のため後ほど実装する-->
          <!--配送先 < %= shipping_postal_code + shipping_address + shipping_name %>-->
        </div>
      </div>

      <div>
        <div>
          支払方法
        </div>
        <div>
          <%= @order.payment_method %>
        </div>
      </div>

      <!--任意実装-->
      <!--<div>-->
      <!--  注文ステータス-->
      <!--</div>-->
    </div>

    <div>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
      </table>

      <tbody>
        <%= @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= order_detail.item.name %>
            </td>
            <td>
              ¥<%= total_payment(order_detail.item.price).to_s(:delimited) %>
            </td>
            <td>
              <%= order_detail.amount %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>