<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2 class="head-line title_h2 text-center bg-light">注文履歴詳細</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <table class="table table-borderless">
        <tbody>
        <tr>
          <th>購入者</th>
          <td><u><%= link_to @order.customer.last_name +  @order.customer.first_name, admin_customer_path(@order.customer.id), class: "text-dark" %></u></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= full_address(@order) %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <!--任意実装-->
        <!--注文ステータス-->
        </tbody>
      </table>
      <div class="d-flex">
        <table class="table table-hover table-condensed mr-3">
          <thead>
            <tr class="table-hover table-inverse table-light">
              <th class="bg-light">商品名</th>
              <th class="bg-light">単価（税込）</th>
              <th class="bg-light">数量</th>
              <th class="bg-light">小計</th>
              <!--任意実装-->
              <!--製作ステータス-->
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td class="text-left">
                  <%= order_detail.item.name %>
                </td>
                <td class="text-right">
                  ¥<%= (order_detail.item.price * 1.1).floor.to_s(:delimited) %>
                </td>
                <td class="text-right">
                  <%= order_detail.amount %>
                </td>
                <td class="text-right">
                  ¥<%= sub_price(order_detail).to_s(:delimited) %>
                </td>
                <!--<td>-->
                 <!--任意実装-->
                 <!--製作ステータス-->
                <!--</td>-->
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class="table table-borderless col-3">
          <tbody>
          <tr>
            <th>商品合計</th>
            <td>
              ¥<%= @order.total_payment.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <th>送料</th>
            <td>
              ¥<%= @order.shipping_cost.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td>
              ¥<%= (@order.total_payment + @order.shipping_cost ).to_s(:delimited) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>