<header>
  <nav>
    <% if admin_signed_in? %>
      <%= link_to "NaganoCake", admin_top_path %>
    <% else %>
      <%= link_to "NaganoCake", root_path %>
    <% end %>
  </nav>
  <nav>
    <ul>
      <!--When the customer is logged in-->
      <% if customer_sign_in? %>

      <!--When the admin is logged in-->
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "商品一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "会員一覧", admin_customer_path %>
        </li>
        <li>
          <%= link_to "注文履歴一覧", admin_orders_path %>
        </li>
        <li>
          <!--任意実装-->
          <!--< %= link_to "ジャンル一覧", admin_genres_path %>-->
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>

        <!--When the admin is not logged in-->
        <% else %>

      <% end %>
    </ul>
  </nav>
</header>